<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/linea_rAnd_Binaray_searching/src/linea_rAnd_Binaray_searching/Selection_sorting_asending_order.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="linea_rAnd_Binaray_searching.Selection_sorting_asending_order"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="linea_rAnd_Binaray_searching"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="linea_rAnd_Binaray_searching"/>
</launchConfiguration>
